<div class="main-container-show">
  <div class="container-show">
    <div class="card-show">
        <div class="texte-show2">
          <h2> Alix </h2>
          <h3> Chef de projet </h3>
          <p>  Elle est notre chef d’orchestre ! C’est elle qui veille à ce que toutes les étapes de notre projet soit réalisées en temps et en heure.
          <br/><br/>
          Elle aime : Le fromage, danser, se pomponner et quand il fait moche dehors (c’est propice au cocooning...).
          <br/>
          Elle déteste : Les raisins secs mélangés au chocolat, le pessimisme et le mot « goodies ».
          <br/><br/>
          Son voyage préféré : L’Écosse pour ses paysages féeriques !</p>
        </div>
        <div class="photo-show" style="background: url('https://media.discordapp.net/attachments/532244007309410304/532482940026748948/Alix.jpg?width=1452&height=968');">
        </div>
    </div>
  </div>
  <div class="container-show">
    <div class="card-show">
        <div class="photo-show" style="background: url('https://media.discordapp.net/attachments/532244007309410304/532483083060903938/WechatIMG6_meitu_3.jpg?width=1452&height=968');">
        </div>
        <div class="texte-show2">
          <h2> Michael </h2>
          <h3> Co-chef de Projet et Responsable Industrialisation </h3>
          <p>  Il gère le projet dans son ensemble d'une main de maître tout en s'assurant de dégoter les meilleurs contracts avec les sous-traitants.
          <br/><br/>
          Il aime : Le soleil, la chaleur, manger, les énigmes.
          <br/>
          Il n'aime pas : Être sous la pluie, les transports en commun.
          <br/><br/>
          Son voyage préféré : Au Canada. En été comme en hiver, cet endroit est génial, les gens sont sympas, accueillants, chaleureux, optimistes. Une expérience qui vaut le détour et la peine d'être vécue! Tomber amoureux d'un pays, c'est possible.</p>
        </div>
    </div>
  </div>
    <div class="container-show">
      <div class="card-show">
          <div class="texte-show2">
            <h2> Benjamin </h2>
            <h3> Co-Responsable Extraction </h3>
            <p>  Grâce à sa collaboration avec Cécile vous êtes assurés de découvrir les bienfaits du curcuma dans notre gamme de produits cosmétiques.
            <br/><br/>
            Il aime : Le soleil, le sport, les brunchs.
            <br/>
            Il déteste : Les araignées, les personnes qui mâchent la bouche ouverte et le réveil le matin.
            <br/><br/>
            Son voyage préféré: Prague pour son architecture, son charisme et ses bières. </p>
          </div>
          <div class="photo-show" style="background: url('https://media.discordapp.net/attachments/532244007309410304/532483356298969108/WechatIMG8_meitu_6.jpg?width=1452&height=968');">
          </div>
      </div>
    </div>
  <div class="container-show">
    <div class="card-show">
        <div class="photo-show" style="background: url('https://media.discordapp.net/attachments/532244007309410304/532483615259492352/WechatIMG9_meitu_5.jpg?width=1452&height=968');">
        </div>
        <div class="texte-show2">
          <h2> Cecile </h2>
          <h3> Co-Responsable Extraction </h3>
          <p>  Elle est responsable de l'extraction de notre matière première : le curcuma.
          <br/><br/>
          Elle aime : Manger , le volley, les voyages.
          <br/>
          Elle déteste : Les serpents , perdre et avoir tord, les hypocrites.
          <br/><br/>
          Son voyage préféré: Le Togo car c'etait un volontariat qui lui a permis d'être immergée pendant plusieurs semaines dans une autre culture.</p>
        </div>
    </div>
  </div>
  <div class="container-show">
      <div class="card-show">
          <div class="texte-show2">
            <h2> Alicia </h2>
            <h3> Responsable Packaging </h3>
            <p>  Vous faciliter la vie avec vos produits c’est
            son rôle premier. Elle fait son possible pour
            mettre en valeur notre gamme, alliant qualité
            et simplicité.
            <br/><br/>
            Elle aime : Être active, plaisanter, partager un
            bon repas avec ses proches.
            <br/>
            Elle déteste : Les fortes chaleurs, le désordre,
            la critique facile.
            <br/><br/>
            Son voyage préféré : York, au Royaume-Uni.
            J’en garde de très bons souvenirs : Les
            personnes rencontrées, les sorties, les beaux
            paysages, la vie de tous les jours. </p>
          </div>
          <div class="photo-show" style="background: url('https://media.discordapp.net/attachments/532244007309410304/532484344728649728/WechatIMG11_meitu_7.jpg?width=1452&height=968');">
          </div>
      </div>
    </div>
    <div class="container-show">
      <div class="card-show">
          <div class="photo-show" style="background: url('https://media.discordapp.net/attachments/532244007309410304/532484605568352256/Jingwen.JPG?width=1452&height=968');">
          </div>
          <div class="texte-show2">
            <h2> Jigwen </h2>
            <h3> Responsable Marketing </h3>
            <p>  Grâce à son parcours international, elle apporte à l'équipe une autre façon d'affronter les challenges pour la communication et le marketing tout au long de l'évolution de MY C.U.R.E.
            <br/><br/>
            Elle aime : Voyager , vivre de nouvelles expériences, visiter des musées , ne pas travailler le week-end.
            <br/>
            Elle déteste : Marcher sous la pluie.
            <br/><br/>
            Son voyage de rêve : Amérique du sud ou la forêt amazonienne. </p>
          </div>
      </div>
    </div>
    <div class="container-show">
      <div class="card-show">
          <div class="texte-show2">
            <h2> Prunelle </h2>
            <h3> Responsable Formulation </h3>
            <p>  C'est grâce à elle que l'on peut transformer nos souhaits en réalité... Elle est responsable de la mise au point de nos différentes formules.
            <br/><br/>
            Elle aime :  Voyager, rigoler, écouter les conversations d'inconnus dans les transports, le chocolat.
            <br/>
            Elle déteste : les lundis, les araignées , les enfants qui pleurent dans les transports.
            <br/><br/>
            Son voyage préféré : La thaïlande car c'était son premier voyage seule. Elle a d'abord eu peur puis cela c'est transformer en une expérience de folie. </p>
          </div>
          <div class="photo-show" style="background: url('https://media.discordapp.net/attachments/532244007309410304/532485325344473089/WechatIMG12_meitu_1.jpg?width=1452&height=968');">
          </div>
      </div>
    </div>
    <div class="container-show">
      <div class="card-show">
          <div class="photo-show" style="background: url('https://media.discordapp.net/attachments/532244007309410304/532486164867710995/WechatIMG7_meitu_4.jpg?width=1452&height=968');">
          </div>
          <div class="texte-show2">
            <h2> Anthony </h2>
            <h3> Responsable Business Plan </h3>
            <p>  Grâce à lui , My C.U.R.E s'assure un départ optimal. Il est responsable  de la cohérence et de la faisabilité du projet d’un point de vue économique et financier.
            <br/><br/>
            Il aime : Lire , Méditer et Marcher.
            <br/>
            Il déteste : Les transports en commun , les rues bondées.
            <br/><br/>
            Son voyage préféré : La Hongrie pour son architecture , le Danube et Margit-sziget. </p>
          </div>
      </div>
    </div>
    <div class="container-show">
      <div class="card-show">
          <div class="texte-show2">
            <h2> Amandine </h2>
            <h3> Responsable Qualité et Réglementation </h3>
            <p>  S'assure que tout soit fait correctement.
            <br/><br/>
            Elle aime : Danser, rire, aller au bout du monde et bien manger.
            <br/>
            Elle déteste : L'ennui, le calme et les retards de train.
            <br/><br/>
            Son voyage préféré : Mexique. </p>
          </div>
          <div class="photo-show" style="background: url('https://media.discordapp.net/attachments/532244007309410304/532488975303180288/WechatIMG10.jpeg?width=1452&height=968');">
          </div>
      </div>
    </div>
    <div class="container-show">
      <div class="card-show">
          <div class="photo-show" style="background: url('https://media.discordapp.net/attachments/532244007309410304/532489548547227668/DSC_0908.JPG?width=1452&height=968');">
          </div>
          <div class="texte-show2">
            <h2> Sophie </h2>
            <h3> Responsable des Finances </h3>
            <p> Elle veille à ce que nos idées et projets ne laissent pas la trésorerie vide.
            <br/><br/>
            Elle aime : Les chapeaux, l'odeur des livres anciens, les milkshakes goût fraise.
            <br/>
            Elle déteste : La sonnerie du réveil.
            <br/><br/>
            Son voyage préféré : L'Italie pour le soleil, les pizzas et les jardins de la renaissance. </p>
          </div>
      </div>
    </div>
 </div>
