<div class="main-container-show">
  <div class="container-show">
    <div class="card-show3">
        <div class="texte-show2">
          <h2> Dentifrice </h2>
          <p>  Voilà un produit qui ne risque pas de se répandre dans votre sac, qui vous permettra de maintenir une bonne hygiène buccale toute la journée et de conserver des dents blanches !
          <br/><br/>
          <strong>Utilisation</strong> : Mouillez votre brosse à dents et frottez la sur la surface du dentifrice jusqu’à avoir une légère couche de mousse. Une fois cela fait vous n’avez plus qu’à vous brossez les dents comme vous avez l’habitude de le faire !
          <br/><br/>
          <strong>Effets</strong> : Nous utilisons une combinaison d’argile blanche et verte qui ont des propriétés détoxifiantes et qui vont permettre d’enlever tous les petits résidus et toxines. Le carbonate de calcium y participera lui aussi grâce au phénomène d’abrasion douce qu’il entraîne sous action mécanique. Nous y ajoutons de l’huile essentielle de menthe poivrée afin de laisser un goût en bouche et une sensation d’haleine fraîche. Nous incorporons une petite quantité de poudre de curcuma.
          </p>
        </div>
        <div class="photo-show" style="background: url('https://media.discordapp.net/attachments/501033292087296000/539396526288404501/AB8F14D6-885F-4502-B4AA-810F77CFE891.JPG?width=1290&height=968');">
        </div>
    </div>
  </div>
</div>

