<div class="margin-top">
</div>

<div class="profile-title">
  <h2> Section Admin </h2>
</div>

<div class="tabs">
  <% if @tab == "products" %>
    <a class="tab active" data-toggle="tab" href="#my-products" id="tabproducts">
  <% elsif @tab == "published" %>
    <a class="tab" data-toggle="tab" href="#my-products" id="tabproducts">
  <% elsif @tab == "users" %>
    <a class="tab" data-toggle="tab" href="#my-products" id="tabproducts">
  <% else %>
    <a class="tab active" data-toggle="tab" href="#my-products" id="tabproducts">
  <% end %>
    <h3>Produits</h3>
    </a>

  <% if @tab == "published" %>
    <a class="tab active" data-toggle="tab" href="#my-published" id="tabpublished">
  <% elsif @tab == "products" %>
    <a class="tab" data-toggle="tab" href="#my-published" id="tabpublished">
  <% elsif @tab == "users" %>
    <a class="tab" data-toggle="tab" href="#my-published" id="tabpublished">
  <% else %>
    <a class="tab" data-toggle="tab" href="#my-published" id="tabspublished">
  <% end %>
    <h3>Publier</h3>
    </a>


  <% if @tab == "users" %>
    <a class="tab active" data-toggle="tab" href="#my-users" id="tabusers">
  <% elsif @tab == "published" %>
    <a class="tab" data-toggle="tab" href="#my-users" id="tabusers">
  <% elsif @tab == "products" %>
    <a class="tab" data-toggle="tab" href="#my-users" id="tabusers">
  <% else %>
    <a class="tab" data-toggle="tab" href="#my-users" id="tabusers">
  <% end %>
    <h3>Utilisateur</h3>
    </a>
</div>

<div class="tab-content">
  <% if @tab == "products" %>
    <div id="my-products" class="tab-pane fade in active content">
  <% elsif @tab == "published" %>
    <div id="my-products" class="tab-pane fade in content">
  <% elsif @tab == "users" %>
    <div id="my-products" class="tab-pane fade in content">
  <% else %>
    <div id="my-products" class="tab-pane fade in active content">
  <% end %>

    <div class="cards-products" id="my_products">
      <%= render "cards_products", my_products: @my_cproducts %>
      <p></p>
    </div>
  </div>


  <% if @tab == "published" %>
    <div id="my-published" class="tab-pane fade in active content">
  <% elsif @tab == "products" %>
    <div id="my-published" class="tab-pane fade in content">
  <% elsif @tab == "users" %>
    <div id="my-published" class="tab-pane fade in content">
  <% else %>
    <div id="my-published" class="tab-pane fade in content">
  <% end %>

    <div class="cards-published" id="my_published">
      <%= render "cards_published", my_published: @my_published %>
    </div>
  </div>

  <% if @tab == "users" %>
    <div id="my-users" class="tab-pane fade in active content">
  <% elsif @tab == "products" %>
    <div id="my-users" class="tab-pane fade in content">
  <% elsif @tab == "published" %>
    <div id="my-users" class="tab-pane fade in content">
  <% else %>
    <div id="my-users" class="tab-pane fade in content">
  <% end %>

    <div class="cards-users" id="my_users">
      <%= render "cards_users", my_users: @my_users %>
      <p></p>
    </div>
  </div>
</div>



