<div class="main-container-show">
  <div class="container-show">
    <div class="card-show3">
        <div class="texte-show2">
          <h2> Nettoyant Visage </h2>
          <p>  Ça vous embête de ne pas pouvoir emmener votre nettoyant visage quand vous partez en vacances ou de devoir transvaser dans un contenant plus petit ? Cela ne sera plus un problème avec nos comprimés nettoyants ! Ils vous permettront de vous nettoyez le visage et présentent un intérêt particulier pour les personnes à peaux grasses ou mixtes car ils vont permettront d’aider à réguler votre sécrétion de sébum.
          <br/><br/>
          <strong>Utilisation</strong> : Prenez un comprimé, cassez le en petits morceaux au creux de votre main et ajoutez y un peu d’eau. Il vous suffit ensuite de finir de le dissoudre en le frictionnant entre vos mains.
          <br/><br/>
          <strong>Effets</strong> : Le rhassoul et argile rose vont avoir une triple action, il vont permettre de purifier, désincruster et nettoyer la peau et enfin de réguler la production de sébum. Nous y ajoutons de la poudre sèche de curcuma qui présente des propriétés anti oxydantes, anti inflammatoires et anti oxydantes. Votre peau sera donc nettoyée et chouchoutée grâce à une action 2 en 1.
          </p>
        </div>
        <div class="photo-show" style="background: url('https://media.discordapp.net/attachments/501033292087296000/539396519502151700/2764347D-49CA-43CE-9BCF-782EDF2DF3A7.JPG?width=1290&height=968');">
        </div>
    </div>
  </div>
</div>
