<div class="margin-top">
</div>

<div class="banner-home" style="background: url('https://images.unsplash.com/photo-1525326551663-02d6b658a07e?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=afd1c88a9613d8dbbaa10efd51624ed9&auto=format&fit=crop&w=2850&q=80');">
    <h1>Entrez dans votre mood préférée</h1>
    <h2>« Il n’existe rien de constant si ce n’est le changement. » Bouddha</h2>
    <form class="banner-form" action='products' method='get'>
      <button type='submit' class="banner-btn">Entrer </button>
    </form>
</div>

