<div class="banner-home" style="background: url('https://images-ext-2.discordapp.net/external/GV1EX5DNCDuZoWiuhVDy0XT5slRGJo5PoA-TFv1qOVY/%3Fixlib%3Drb-1.2.1%26q%3D80%26fm%3Djpg%26crop%3Dentropy%26cs%3Dtinysrgb%26w%3D1080%26fit%3Dmax%26ixid%3DeyJhcHBfaWQiOjEyMDd9/https/images.unsplash.com/photo-1504609773096-104ff2c73ba4');">
    <h1>Votre voyage commence ici !</h1>
    <h2>« Il n’existe rien de constant si ce n’est le changement. » Bouddha</h2>
    <form class="banner-form" action='products' method='get'>
      <button type='submit' class="banner-btn">Entrer </button>
    </form>
</div>

