<div class="main-container-show">
  <div class="container-show">
    <div class="card-show4">
        <div class="texte-show3">
          <h2> <strong>Découverte</strong> </h2>
          <p>C'est en cette fin d'été que les membres de notre équipe se sont retrouvés après s'être aventurés aux quatre coins du monde. Nos bagages se sont chargés et remplis de souvenirs, de découvertes et d'expériences, sans se douter que dans l'une d'entre elles, se trouvaient notre source d'innovation. Car c'est à plus de 11 000 km en Asie du Sud que nous avons fait la découverte du curcuma, magique bijou naturel. </p>
          <div class="photo-show2" style="background: url('https://media.ooreka.fr/public/image/plant/509/varietyImage/4jd7kdputy4g0wwssw4k80k0w-source-11994637.jpg');">
          </div>
          <p>Cette sublime plante, connue depuis l'antiquité dans cette région du monde, est très exploitée pour ses multitudes propriétés, notamment pour la peau, les cheveux et pour la santé à travers la médecine ayurvédique.<br/> Elle est étudiée en Europe dans les laboratoires car elle posséderait des propriétés anti-cancéreuses.<br/> L'idée nous est alors venue de faire découvrir aux Européens le curcuma et d'en exploiter à notre tour ses nombreuses propriétés.<br/> Envoutés par le curcuma, c'est ainsi que les fondations de notre startup se sont bâties ; forts de nos expériences aux quatre coins du monde, nous apportons chacun les briques qui permettront de construire ce que nous sommes aujourd'hui.
          </p>
        </div>
    </div>
  </div>
  <div class="container-show">
    <div class="card-show4">
        <div class="texte-show3">
          <h2> <strong>Nos valeurs</strong> </h2>
          <h3> Eco responsable </h3>
          <p>Nous cherchons à proposer des produits naturels tout en limitant notre impact environnemental. C’est dans cette optique que nous avons décidé de faire des produits solides qui nécessitent donc moins d’emballages. Les packagings sont issus de plastiques recyclés et recyclables et sont réutilisable. Il suffit de nous les renvoyer et nous les récupérons. D’autre part, nos produits ne nécessitent que de très petites quantités d’eau pour leur application. </p>
          <h3> Aventurier </h3>
          <p> Bien que nous faisons des cosmétiques, nous n'avons pas peur de briser les codes
          et explorer de nouvelles possibilités. Pour vous offrir un cosmétique nouveau qui réponds aux besoins modernes.
          </p>
          <h3> Minimaliste </h3>
          <p> Notre équipe  se concentre sur l'essentiel , nos produits sont conçus pour répondre à vos besoins tout en limitant les ingrédients superflus. Nos packaging sont pensés pour être réutilisable et pratique.
          </p>
          <h3> Naturel </h3>
          <p> L'environnement est précieux à nos yeux , pour le respecter nous utilisons des produits naturels. Ce naturel dans nos composants permet de honorer votre peau et de limiter leur impact écologique.
          </p>

        </div>
    </div>
  </div>
</div>
