<div class="main-container-show">
  <div class="container-show">
    <div class="card-show3">
        <div class="texte-show2">
          <h2> Deodorant </h2>
          <p>  Nous vous proposons un produit que vous pourrez emporter un peu partout et qui ne posera pas de problème lors des contrôles de sécurité à l’aéroport. Sa formule a été optimisée pour vous permettre de garder une bonne odeur corporelle tout au long de la journée, tout en respectant votre peau.
          <br/><br/>
          <strong>Utilisation</strong> : Facile à transporter, il est également facile à utiliser. Il suffit de retirer le capuchon, s’assurer qu’une partie du stick dépasse et l’appliquer en le faisant glisser sous l’aisselle. Sa composition majoritairement huileuse va permettre de déposer un film qui sera facilement absorbé et qui vous protégera toute la journée contre les odeurs.
          <br/><br/>
          <strong>Effets</strong> : La présence d’huile essentielle de curcuma apporte ses propriétés anti-bactériennes et anti-inflammatoires, combinée à l’huile essentielle de lemongrass qui possède des propriétés déodorantes nous permet de vous proposer un produit efficace contre les odeurs corporelles et prendra soin de votre peau. En effet, notre formulation inclut de l’huile de coco qui est apaisante et très hydratante.
          </p>
        </div>
        <div class="photo-show" style="background: url('https://media.discordapp.net/attachments/501033292087296000/539396529702567937/216DBABD-ADC2-4A55-B910-909845AE7FDB.JPG?width=1206&height=968');">
        </div>
    </div>
  </div>
</div>
