/* -------------------------------------
 * Your CSS code for flash notices and alerts
* ------------------------------------- */

.alert {
  margin: 0;
  text-align: center;
  color: white;
}
.alert-info {
  border-color: #674e3c;
  background-color: #674e3c;
}
.alert-warning {
  background: $red;
}
