.btn-index {
  width: 200px;
  border-radius: 5px;
  border-color: #a59285;
  margin: 2px;
}

.btn-index-card {
  width: 200px;
  border-radius: 5px;
  border-color: #a59285;
  margin: 2px 0px;
}

.btn-cart {
  width: 200px;
  border: 0px;
  border-radius: 5px;
  color: white;
  margin: 2px 0px;
  background-image: linear-gradient(to right top, #b3a999, #b3a58f, #b2a186, #b29d7c, #b19973);
}

.btn-profile-product {
  background: transparent;
  color: #062743;
  width: 180px;
  font-size: 16px;
  border-radius: 25px;
  border: 2px solid #674e3c;
  font-family: "Montserrat";
  text-align: center;
  display: flex;
  transition: all 0.5s ease;
  margin-left: 6px;
}

.btn-profile-product:hover {
  background-color: #674e3c;
  color: white;
}

.btn-profile-product a {
  text-decoration: none !important;
  color: #674e3c;
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 180px;
  height: 40px;
}

.btn-profile-product:hover a {
  text-decoration: none !important;
  color: white;
}

.btn-admin {
  padding: 0px !important;
  vertical-align: initial !important;
}

.edit_product {
  display: inline;
}

.submit {
  background-image: linear-gradient(to right top, #b3a999, #b3a58f, #b2a186, #b29d7c, #b19973);
  border: none;
  width: 100%;
  padding: 12px 20px;
  border-radius: 25px;
  text-align: center;
  margin-bottom: 20px;
  font-weight: bolder;
  color: white;
  box-shadow: 0 2px 6px 0 #B3A999;
}

.submit:hover {
  color: white !important;
}
