
.card-home1 {
  box-shadow: 1px 3px 5px rgba(0,0,0,0.3);
  margin: 10px auto;
  width: 300px;
}

.card-home2 {
  box-shadow: 1px 3px 5px rgba(0,0,0,0.3);
  margin: 10px 30px;
  width: 280px;
}

.card-index {
  box-shadow: 1px 3px 5px rgba(0,0,0,0.3);
  margin: 10px 30px;
  width: 280px;
}

.cards-index {
  display: flex;
  align-item: center;
  justify-content: center;
  flex-wrap: wrap;
  margin-right: 10%;
  margin-left: 10%;
}

.top-product-line {
  display: flex;
  align-item: center;
  justify-content: center;
  flex-wrap: wrap;
  margin-right: 10%;
  margin-left: 10%;
}

.card-show {
  display: flex;
  justify-content: space-around;
  align-item: center;
  background-color: #e7e6e1;
  width: 900px;
  height: auto;
  margin: 10px 0px;
}

.cards-seller h1 {
  margin-left: 6px;
  color: #674e3c;
}

.cards-client h1 {
  margin-left: 6px;
  color: #674e3c;
}

.card-session {
  background-color: white;
  box-shadow: 1px 1px 3px rgba(0,0,0,0.3);
  border-radius: 10px;
  padding: 40px 50px 40px 50px;
  width: 50%;
  }
