.photo-home1 {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 200px;
  width: 100%;
  background-size: cover !important;
}

.card-home1 {
  box-shadow: 1px 3px 5px rgba(0,0,0,0.3);
  margin: 10px auto;
  width: 300px;
}

.photo-home2 {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 150px;
  width: 100%;
  background-size: cover !important;
}

.card-home2 {
  box-shadow: 1px 3px 5px rgba(0,0,0,0.3);
  margin: 10px 30px;
  width: 250px;
}

.top-product-first-line {
  display: flex;
  align-item: center;
  justify-content: center;
}

.top-product-second-line {
  display: flex;
  align-item: center;
  justify-content: center;
}

