.dropbtn {
    background-color: #674e3c;
    color: #674e3c;
    font-size: 18px;
    border: none;
    height: 70px !important;
}

.dropbtn a{
    color: #674e3c;
    font-size: 18px;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70px ;
    width: 120px ;
    text-decoration: none;
}
.dropbtn:hover a {
  text-decoration: none
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: white;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: #674e3c;
    font-size: 18px;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #85716363;}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {background-color: #85716363;}
