.photo-show {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 350px;
  width: 400px ;
  background-size: cover !important;
  margin: 10px;
}

.photo-home2 {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 150px;
  width: 100%;
  background-size: cover !important;
}

.photo-index {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 150px;
  width: 100%;
  background-size: cover !important;
}

.photo-home1 {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 200px;
  width: 300px;
  background-size: cover !important;
}

.photo-product-card {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 180px;
  background-size: cover !important;
}
