.photo-show {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 450px;
  width: 600px ;
  background-size: cover !important;
  margin: 10px 0px;
}

.photo-show2 {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 300px;
  width: 450px ;
  background-size: cover !important;
  margin: 10px 0px;
}

.photo-show3 {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 320px;
  background-size: cover !important;
}

.photo-show4{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 200px;
  background-size: cover !important;
  width: 250px;
}
.photo-home2 {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 150px;
  width: 100%;
  background-size: cover !important;
}

.photo-index {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 150px;
  width: 100%;
  background-size: cover !important;
}

.photo-home1 {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 200px;
  width: 300px;
  background-size: cover !important;
}

.photo-product-card {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 180px;
  background-size: cover !important;
}
