.searchbar-index {
  display: flex;
  justify-content: center;
  background-color: #BBBBBB;
  padding: 20px 0px;
}

.form-control {
  height: 40px;
  width: 400px;
}

#searchbar-products {
  border-radius: 6px;
}

#search-products-form {
  display: flex;
  justify-content: center;
}

.margin-top {
  height: 130px;
}
