.searchbar-index {
  display: flex;
  margin-top: 150px;
  justify-content: center;
  background-color: #BBBBBB;
  padding: 20px 0px;
}

.form-control {
  height: 40px;
  width: 400px;
}

#search-products-form {
  display: flex;
  align-item: center;
  justify-content: center;
}
