.searchbar-index {
  display: flex;
  justify-content: center;
  padding: 20px 0px;
  color: #674e3c;
  background-color: #f6f6f6;
}

.form-control {
  display: block;
  width: 100%;
  height: 39px;
  padding: 6px 12px;
  font-size: 18px;
  line-height: 1.428571429;
  color: #000000;
  background-color: #fff;
  background-image: none;
  border: 1px solid #a59285;
  border-radius: 2px;
  box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
  transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
}

#searchbar-products {
  border-radius: 5px;
  margin: 2px;
}

#new_order_item {
  color: #674e3c !important;
}

#order_item_quantity{
  border: 1px solid #a59285;
  border-radius: 5px;
  color: #674e3c;
  max-width: 200px;
}

#search-products-form {
  display: flex;
  justify-content: center;
}

.margin-top {
  height: 70px;
}

#category {
  background-color: white;
  margin: 2px;
  border-color: #a59285
}
