.session-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  min-height: calc(100vh - 170px);
}

.session-content {
  width: 60%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}
