.container-show {
  display:flex;
  justify-content: space-around;
  background-color: #f6f6f6;
}

.container-show:first-child {
  margin-top: 10px;
}

.container-show:last-child {
  margin-bottom: 10px;
}

input:invalid+span:after {
  content: '✖';
  padding-left: 5px;
}

input:valid+span:after {
  content: '✓';
  padding-left: 5px;
}

#quantity {
  width: 100px;
}

.show-submit input {
  background: transparent;
  color: #674e3c;
  width: 220px;
  font-size: 14px;
  border-radius: 25px;
  border: 2px solid #674e3c;
  box-shadow: 1px 2px 3px rgba(0,0,0,0.2);
  text-align: center;
  padding: 5px 0px;
}
