.tabs {
  display: flex;
  padding: 0px 10px 0 10px;
  justify-content: center;
  background-color: #f3f0e7;
}
.tabs a {
  color: white;
  text-decoration: none;
}

.tabs h3 {
  font-size: 14px;
  font-weight: 600;
  margin-top: 0;
  margin-bottom: -3px;
  color: #674e3c;
}
.tab {
  background-color: white;
  flex: 0 0 15%;
  text-align: center;
  padding: 15px 0;
  color: #062743 !important;
}
.tab.active {
  color: #674e3c !important;
  border-bottom: solid 3px;
  border-radius: 3px;
  background-color: white;
}

.tab:first-child {
  border-radius: 2px 0 0 0;
}
.tab:last-child {
  border-radius: 0 2px 0 0;
}
