body {
  background-color: #FFFFFF !important;
}
.title-section {
  display: flex;
  text-align: center;
  justify-content: center;
  flex-direction: row;
}

.title-section h1 {
  font-size: 35px;
  font-weight: bold;
  color: #674e3c;
}

.texte-home h2 {
  font-size: 25px;
  padding-left: 7px;
  color: #755923;
}

.texte-home p {
  padding-left: 7px;
  color: #674e3c;
}

.texte-index h2 {
  font-size: 25px;
  padding-left: 7px;
}

.texte-index h2 a {
  color: #755923;
  text-decoration: none;
}

.texte-index h2 a:hover{
  color: #695021;
}


.texte-index p {
  padding-left: 7px;
  color: #674e3c;
}

.texte-show h2 {
  font-size: 25px;
  padding-left: 7px;
  color: #755923;
}

.texte-show p {
  padding-left: 7px;
  color: #674e3c;
}

.description-show  {
 display: flex;
 justify-content: center;
 flex-direction: column;
 margin: 10px 50px;
 border: solid;
 border-size: 1px;
 border-color: #f3f0e7;
 padding: 0px 10px;
}

.description-show h2 {
 text-align: center;
 color: #755923;
}
.description-show p {
  color: #674e3c;
}

.texte-profile-card {
  padding-left: 5px;
}

.texte-admin {
  border: solid 1px;
  margin: 1px 0px;
  padding: 0px 10px;
}
.texte-admin p{
  margin: 4px !important;
  display: inline-flex;
  color: #674e3c;
}

.texte-cart {
  padding-left: 7px;
  color: #674e3c;
  margin: 2px !important;
}
.publier {
  color: #19d419 !important;
}
.npublier {
  color: red !important;
}

.admin-title {
  color: #674e3c;
}
