<!-- <div class="searchbar-index">
    <%= form_tag products_path, method: "get", id: "search-products-form" do %>
      <%= text_field_tag :name, params[:name], class: "form-control",
      placeholder: "Rechercher un produit", id: 'searchbar-products', value: params[:name] %>
      <%= select_tag :category, options_for_select([["Toute catégorie", nil], "Alimentaire", "Medicament", "Ingredient"], params[:category])%>
      <%= submit_tag "Filtrer", class: "btn-index" %>
    <% end %>
</div> -->

<div class="main-container-show">
  <div class="container-show">
    <div class="card-show2">
        <div class="texte-show3">
          <div class="photo-show3" style="background: url('https://media.discordapp.net/attachments/532244007309410304/532489350596788225/IMG_7903.JPG?width=1720&height=968');">
          </div>
          <p>En allant du Cambodge des membres de notre équipe ont appris les bienfait du curcuma pour la peau. Nous avons donc décider de ramener ce produit en Européen pour vous faire profiter de ses vertus. <br/>

          Nous aimons beaucoup voyager , c'est pour cela que nous vous offrons une gamme adaptée aux voyage fréquent. C'est la forme solide de nos produits qui vous permettra de les transporter partout avec vous tout en gardant un encombrement minimal. </p>
          <div class="cards-index1">
            <div class="card-index1">
              <a href="/products1/"><img src="https://media.discordapp.net/attachments/501033292087296000/539396526288404501/AB8F14D6-885F-4502-B4AA-810F77CFE891.JPG?width=1290&height=968" class="photo-show4" alt= "Products1"></a>
            </div>
            <div class="card-index1">
              <a href="/products2/"><img src="https://media.discordapp.net/attachments/501033292087296000/539396529702567937/216DBABD-ADC2-4A55-B910-909845AE7FDB.JPG?width=1206&height=968" class="photo-show4" alt= "Products2"></a>
            </div>
            <div class="card-index1">
              <a href="/products3/"><img src="https://media.discordapp.net/attachments/501033292087296000/539396519502151700/2764347D-49CA-43CE-9BCF-782EDF2DF3A7.JPG?width=800&height=600" class="photo-show4" alt= "Products3"></a>
            </div>
          </div>
        </div>
    </div>
  </div>

</div>


