<div class="margin-top">
</div>
<div class="container-show">
  <div class="card-show">
      <div class="photo-show" style="background: url('https://images.unsplash.com/photo-1503262028195-93c528f03218?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=c3f919b2d1bf7d9a8d2746781dbea799&auto=format&fit=crop&w=1651&q=80');">
      </div>
      <div class="texte-show">
        <h2><%= @product.name %></h2>
        <p> Category: <%= @product.category.name %></p>
        <p> Description: <%= @product.description %></p>
        <p> Prix: <%= @product.price %> €</p>
      </div>
  </div>
</div>
<div class="description-show">
  <h2> Qu’est-ce que le CBD ? </h2>
  <p> Le CBD est un cannabinoïde de la plante de cannabis dont la configuration moléculaire est très proche de celle du THC, mais contrairement à ce dernier, le CBD ne possède aucun effet psychotrope, c’est à dire qu’il ne provoque pas de sentiment d’ivresse, de vertige ou d’euphorie, caractéristiques associés au THC et plus généralement à l’usage récréatif du cannabis.

  Le Cannabidiol CBD possède par contre de nombreuses propriétés thérapeutiques que nous allons vous présenter dans cet article. Une caractéristique intéressante de cette molécule est sa très faible toxicité, et d’avoir ainsi très peu d’effets secondaires indésirables : dans le pire des cas, une dose trop élevée ne pourrait provoquer qu’une sédation (envie de dormir). Nous pouvons remarquer que le CBD ne possède qu’une très faible affinité avec les récepteurs à cannabinoïdes (CB1 et CB2), mais qu’il agit cependant de manière plus prononcée sur d’autres récepteurs du corps humain, tels que le GPR55 ou le 5-HT1A.</p>
</div>


